<h2>Cadastrar Pedido</h2>
<div>
  <h3>Vinhos no Carrinho</h3>
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Peso</th>
      <th>Quantidade</th>
      <th>Remover do carrinho</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pedidoVinho of pedidoVinhos">
      <td>{{ pedidoVinho.vinho.nome }}</td>
      <td>{{ pedidoVinho.vinho.tipo }}</td>
      <td>{{ pedidoVinho.vinho.peso }}</td>
      <td>
        <input id="quantidade" type="number" name="quantidade" [(ngModel)]="pedidoVinho.quantidade">
      </td>
      <td class="width: 84px;">
        <button (click)="removerVinhoPedido(pedidoVinho)">Remover</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<form [formGroup]="cadastro">
  <div>
    <div>
      <label for="distancia">Distância</label>
      <input id="distancia" type="number" name="distancia" formControlName="distancia" [(ngModel)]="pedido.distancia">
    </div>
    <div>
      <button [class.disabled]="cadastro.invalid" (click)="cadastrar()">
        Finalizar Pedido
      </button>
    </div>
  </div>
</form>
